<footer class="lt-footer">
  <div class="lt-col">
    <p>{% currentYear %} &copy; copyright. Leo Herrera. Ltrademark® is a registered trademark and belongs to the aforementioned.</p>
    <p>This site was built with <a href="https://www.11ty.dev/" target="_blank">11y</a> &amp; <a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a> in <a href="https://glitch.com/" target="_blank">Glitch</a></p>
    <p>All rights to content reserved.</p>
  </div>
</footer>